body{
    font-family: 'Open Sans', sans-serif; 
    
    text-align: center;
    margin: 0;

    background-image: url("./arquivos/bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info{
    width: 592px;
    margin: 0 auto 72px;
}

#info img{
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    color: #7D7987;
    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
    color: #C64132;
}

p {
    color: #7D7987;

    font-size: 14px;
    line-height: 28px;
    margin-bottom: 100px;
}

p span, a {
    font-weight: bold;
    color: #C64132;
}

.logo {
    position: fixed;
    right: 12px;
    bottom: 12px;

}

#footer a + a{
    margin-left: 28px;
}

.line {
    width: auto;
    height: 0;

    margin: 0 auto 12px;
    border: 1px #7D7987 dashed;
}
